
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mensaje.css') }}">
    <title>Bienvenido a TaekData</title>
</head>
<body>

    <div class="email-container">
        <!-- Encabezado -->
        <div class="header">
            <h1>Bienvenido a TaekData</h1>
          
        </div>

        <!-- Cuerpo del correo -->
        <div class="body">
            <h2>Hola, {{username}}</h2>
            <p>
                Gracias por registrarte en <strong>TaekData</strong>, la plataforma especializada en el análisis técnico de Taekwondo ITF 
                estamos emocionados de que te unas a nuestra comunidad y esperamos que disfrutes de todas las funcionalidades que hemos desarrollado
                para optimizar tu entrenamiento o mejorar tus resultados.
            </p>
            <p>
                Tus credenciales son las siguientes:
            </p>
            <ul>
                <li><strong>Usuario:</strong> {{username}}</li>
                <li><strong>Contraseña:</strong> {{password}}</li>
            </ul>
            <p>
                Para comenzar a usar la plataforma, visita el siguiente enlace y sigue las instrucciones:
            </p>
            <a class="cta" href="">Acceder a TaekData</a>
        </div>

        <!-- Pie de página -->
        <div class="footer">
            <p>Atentamente,<br>El equipo de TaekData</p>
        </div>
    </div>

</body>
</html>